*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body > nav{
	color: #fff;
	background-color: #0091ea;
	height: 35px;
	padding: 15px 30px;
}

nav > div:nth-child(1){
	float: left;
	padding: 5px;
	border: solid 2px #fff;
}

nav > div:nth-child(2){
	margin-top: 8px;
	float: right;
}

div > span{
	margin-left: 30px;
}

section > div{
	width: 200px;
	height: 200px;
	color:  #888;
	background-color: #bbb;
	border-radius: 50%;
	line-height: 200px;
	font-size: 20px;
	box-shadow: 1px 1px 5px #999;
	margin: 50px auto;
}

nav + section{
	text-align: center;
	font-weight: bold;
}

nav +section > p{
	margin: 20px 25%;
}

a::last-child{
	text-decoration: none;
	color: #0091ea;
}